<div class="simulation-view">
  <section class="cart-container">
    <canvas id="matterjsview"></canvas>
    <div class="btn-wrapper">
      <button mat-raised-button color="primary" (click)="applyForce()">
        Start
      </button>
      <button mat-raised-button color="warn">Reset</button>
    </div>
  </section>
  <section class="form-holder">
    <mat-card class="form-container">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Svg param control</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field appearance="fill">
            <mat-label>Svg width</mat-label>
            <input matInput type="number" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Svg height</mat-label>
            <input matInput type="number" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Svg viewBox X1</mat-label>
            <input matInput type="number" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Svg viewBox Y1</mat-label>
            <input matInput type="number" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Svg viewBox X2</mat-label>
            <input matInput type="number" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Svg viewBox Y1</mat-label>
            <input matInput type="number" />
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
    <mat-card class="form-container">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Rect control panel</mat-panel-title>
          </mat-expansion-panel-header>

          <mat-form-field appearance="fill">
            <mat-label>Rect x</mat-label>
            <input matInput type="number" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Rect y</mat-label>
            <input matInput type="number" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Rect width</mat-label>
            <input matInput type="number" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Rect height</mat-label>
            <input matInput type="number" />
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
    <mat-card class="form-container">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Animate transform control</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field appearance="fill">
            <mat-label>From 1</mat-label>
            <input matInput type="number" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>From 2</mat-label>
            <input matInput type="number" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>From 3</mat-label>
            <input matInput type="number" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>To 1</mat-label>
            <input matInput type="number" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>To 2</mat-label>
            <input matInput type="number" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>To 3</mat-label>
            <input matInput type="number" />
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
  </section>
</div>
