.simulation-view{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cart-container{
    width: 100%;
    margin: auto;
}
.btn-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}